body {
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 1), rgba(10, 75, 119, 0.7)), url('../Assets/images/background.webp');
    color: #FFFFFF;
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;

}

.box {
    max-width: 800px;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    margin: auto;
    margin-top: 24px;
    padding: 0 16px 16px 32px;
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0));
}

.box h2 {
    text-align: center;
}

.profile {
       border-radius: 200px;
    border-style: solid;
    border-width: 3px;
    border-color: rgba(10, 75, 119, 0.7);
    height: 200px;
}

.foto {
    text-align: center;
}

header {
    margin:  42px auto;
    max-width: 800px;
}

header h1 {
    margin-top: 32px;
    text-align: center;
    font-weight: 500;
    line-height: 16px;
}

.social-icon li {
    display: inline-block;
    margin: 0 10px;
    text-align: center;
}

.social-icon img{
        width: 32px;
    list-style: none;
}